doctype html
html(lang='en')
  include shared/head.jade
  +head(title)

  body
    include shared/navbar.jade
    +head("attendance")
    div(class="container")
      table(class="attendanceTable table table-dark")
        thead  
          tr
            th Member
            th Here
            th Excused
            th 
        tbody
          each member, i in data
            if(member.here === 1 || member.excused === 1) 
              tr
                td(class="tr_here") #{member.fullname}
                td #{member.here}
                td #{member.excused}
            else
              tr
                td(class="tr_nothere") #{member.fullname}
                td #{member.here}
                td #{member.excused}

      a(href="/admin/attendance") Back
