doctype html
html(lang='en')
  include shared/head.jade
  +head(title)
  body
    include shared/navbar.jade
    +head("edit")
    div(class="container")
      table(class="editUsersTable table table-dark table-striped")
        thead  
          tr
            th(scope="col") Full Name
            th(scope="col") SlackID
            th(scope="col") Active
            th(scope="col") Brother
            th(scope="col") Alumnus
            th(scope="col") Eboard
            th(scope="col") Recruitment
            th(scope="col") Events
            th(scope="col") Fundraising
            th(scope="col") Standards
            th(scope="col") Internal Branch
            th(scope="col") External Branch
            th(scope="col") Cringe Nominee
            th(scope="col") Exercise Nominee
            th(scope="col") Chairs
        tbody
          each member, i in data
            tr(scope="row")
              td #{member.fullname}
              td(class="other") #{member.slackID}
              td 
                input(type="checkbox" name=member.slackID + "_active" value="true", checked=member.active ? true : false, onClick=`update('active', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_brother" value="true", checked=member.brother ? true : false, onClick=`update('brother', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_alumnus" value="true", checked=member.alumnus ? true : false, onClick=`update('alumnus', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_eboard" value="true", checked=member.eboard ? true : false, onClick=`update('eboard', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_recruitment" value="true", checked=member.recruitment ? true : false, onClick=`update('recruitment', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_events" value="true", checked=member.events ? true : false, onClick=`update('events', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_fundraising" value="true", checked=member.fundraising ? true : false, onClick=`update('fundraising', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_standards" value="true", checked=member.standards ? true : false, onClick=`update('standards', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_internal" value="true", checked=member.internal ? true : false, onClick=`update('internal', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_external" value="true", checked=member.external ? true : false, onClick=`update('external', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_cringe_nom" value="true", checked=member.cringe_nom ? true : false, onClick=`update('cringe_nom', '${member.slackID}')`)
              td 
                input(type="checkbox" name=member.slackID + "_exercise_nom" value="true", checked=member.exercise_nom ? true : false, onClick=`update('exercise_nom', '${member.slackID}')`)
              td
                input(type="text", name=member.slackID + "_chair", value=member.chair, onfocusout=`updateChair('${member.slackID}')` class="chair_text")

script.
  function update(attribute, slackID) {
    window.open(`/admin/editUsers/update?attribute=${attribute}&slackID=${slackID}`, "_self")
  }

  function updateChair(slackID) {
    let text = document.getElementsByName(slackID + "_chair");
    window.open(`/admin/editUsers/updateChairs?value=${text[0].value}&slackID=${slackID}`, "_self")
  }