doctype html
html(lang='en')
html(lang='en')
  include shared/head.jade
  +head(title)
  body
    include shared/navbar.jade
    +head("")
    div(class="container")
      form(action=`/attendance/submit/?meeting=${meeting}&takenBy=${takenBy}&token=${token}` method ='post')
        table(class="attendanceTable table table-dark table-striped")
          thead  
            tr
              th(scope="col") Name
              th(scope="col") Here
              th(scope="col") Excused

          tbody
            each member, i in data
              tr(scope="row")
                td #{member.fullname}
                td 
                  input(type="checkbox" name=member.slackID + "_here" value="true", checked=false)
                td 
                  input(type="checkbox" name=member.slackID + "_excused" value="true", checked=false)
        input(type="submit")


